@model MedicineDonationPortal.Models.NGOModel
<div class="container mb-5">
    <a href="~/NGO/NGO" class="btn btn-success" >Add NGO</a>
</div>

<div class="container">
    <h1>NGO Details</h1>
    <table class="table table-bordered table-light">
        <tr>
            <th>NGOID</th>
            <th>Name</th>
            <th>EmailId</th>
            <th>Address</th>
            <th>MobileNumber</th>
            <th>Action</th>
        </tr>
        @{
            try
            {
                if (TempData["ngos"] != null)
                {
                    foreach(var x in (List<MedicineDonationPortal.Models.NGOModel>)TempData["ngos"])
                    {
                        <tr>
                        <td>@x.NGOId</td>
                        <td>@x.Name</td>
                        <td>@x.EmailId</td>
                        <td>@x.Address</td>
                        <td>@x.MobileNumber</td>
                         <td>
                         <a href="~/NGO/Edit?id=@x.NGOId" class="btn btn-warning">Edit</a>

                         <a href="~/NGO/Delete?id=@x.NGOId" class="btn btn-danger" style="margin-left:3%">Delete</a>
                        </td>
                        </tr>
                    }
                }


            }
            catch
            {
                
            }
        }
    </table>
</div>
@{
    try
    {
        if(TempData["EditMsg"] !=null)
        {
                <script>
                swal("Good job!", "Data Updated Sucecssfully!", "success");
                </script>
        }
    }
    catch
    {
        
    }
}

@{
    try
    {
        if(TempData["DeleteMsg"] !=null)
        {
                <script>
                swal("Good job!", "Data Deleted Sucecssfully!", "success");
                </script>
        }
    }
    catch
    {
        
    }
}